---
import "../../../styles/global.css";
import { Toaster } from "@/components/ui/sonner";
import { Header } from "./header";
import { Footer } from "./footer";
import { SiteBackground } from "./site-background";
---

<!doctype html>
<html
  lang="en"
  class="dark antialiased w-screen h-screen print:w-auto print:h-auto print:overflow-hidden"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Luke De Kiewit CV</title>
    <meta
      name="description"
      content="My interactive CV web page - built with Astro, React, TypeScript, Tailwind CSS and shadcn/ui."
    />
    <meta name="lang" content="en" />
    <meta name="author" content="Luke De Kiewit" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="bingbot" content="noindex" />
    <link rel="canonical" href="https://example.com/" />
    <link rel="icon" href="/images/favicon.ico" />

    <script is:inline>
      const getThemePreference = () => {
        if (
          typeof localStorage !== "undefined" &&
          localStorage.getItem("theme")
        ) {
          return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };
      const isDark = getThemePreference() === "dark";
      document.documentElement.classList[isDark ? "add" : "remove"]("dark");

      if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
          const isDark = document.documentElement.classList.contains("dark");
          localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ["class"],
        });
      }
    </script>
  </head>
  <body
    class="size-full overflow-x-hidden print:overflow-hidden scrollbar-gutter-stable scroll-smooth"
  >
    <Header
      lightModeLogo={{
        src: "/images/logos/ldk_logo_black_tilted_724px.png",
        alt: "Luke De Kiewit logo",
        height: 40,
        width: 40,
        loading: "eager",
        title: "Luke De Kiewit Logo",
      }}
      darkModeLogo={{
        src: "/images/logos/ldk_logo_atomwave_tilted_724px.png",
        alt: "Luke De Kiewit logo",
        height: 40,
        width: 40,
        loading: "eager",
        title: "Luke De Kiewit Logo",
      }}
      lastUpdated="24/01/2026"
      shareLink="https://cv.lukedekiewit.co.za/"
      pdfDownloadLink="/files/Luke_De_Kiewit_CV_Jan_2026.pdf"
      client:load
    />

    <slot />
    <Footer client:load />
    <Toaster client:load position="bottom-center" className="print:hidden!" />
    <SiteBackground
      client:load
      backgroundImage={{
        className: "grayscale opacity-10 hidden dark:block print:hidden!",
        src: "/images/backgrounds/code_3.jpg",
      }}
    />
  </body>
</html>
