---
import Layout from "@/components/custom/layout/layout.astro";
import { ProjectsList } from "@/components/custom/projects/projects-list.tsx";
import { type ProjectCardProps } from "@/components/custom/projects/project-card.tsx";
import { Separator } from "@/components/ui/separator";

const publicProjects: ProjectCardProps[] = [
  {
    title: "Steam Player Search",
    company: "Personal",
    link: "https://steam-player-search.vercel.app/",
    imageSrc: "/images/project_thumbnails/steamplayersearch.png",
    skills: [
      {
        skill: "Next.js",
      },
      {
        skill: "React",
      },
      {
        skill: "TypeScript",
      },
      {
        skill: "Tailwind CSS",
      },
      {
        skill: "Steam API",
        className: "bg-[#1a9fff]! text-[#fcfdff]!",
      },
    ],
    role: "Developer (Author)",
    description:
      "A Next.js app that lets you look up any Steam profile and view player stats, game library and recently played games using the Steam Web API.",
  },
  {
    title: "Topic",
    company: "SOCO_ED",
    link: "https://lms.topic.co.za",
    imageSrc: "/images/project_thumbnails/topic.png",
    skills: [
      {
        skill: "Next.js",
      },
      {
        skill: "React",
      },
      {
        skill: "JavaScript",
      },
      {
        skill: "Tailwind CSS",
      },
      {
        skill: "Strapi",
        className: "bg-[#4945ff]! text-[#fff]!",
      },
    ],
    role: "Developer",
    description:
      "An educational platform for high school students in Grades 10-12. Built with Next.js, React, Tailwind CSS and Strapi.",
  },
  {
    title: "Marlin Brokers",
    company: "Freelance",
    link: "https://marlinbrokers.co.za/",
    imageSrc: "/images/project_thumbnails/marlinbrokers.png",
    skills: [
      {
        skill: "Astro",
      },
      {
        skill: "React",
      },
      {
        skill: "TypeScript",
      },
      {
        skill: "Tailwind CSS",
      },
    ],
    role: "Developer (Author)",
    description:
      "A complete rebuild of the Marlin Brokers website from scratch, transforming an outdated and slow WordPress site into a clean, fast, SEO-optimised website built with Astro, React, and Tailwind.",
  },

  {
    title: "Interactive CV",
    company: "Personal",
    link: "https://lukedekiewit-cv.vercel.app/",
    imageSrc: "/images/project_thumbnails/cv.png",
    skills: [
      {
        skill: "Astro",
      },
      {
        skill: "React",
      },
      {
        skill: "TypeScript",
      },
      {
        skill: "Tailwind CSS",
      },
    ],
    role: "Developer (Author)",
    description:
      "My interactive CV site and project portfolio built with Astro, React, and Tailwind.",
  },
  {
    title: "Marlin Cleaning Supplies",
    company: "Freelance",
    link: "https://marlinbrokers.co.za/",
    imageSrc: "/images/project_thumbnails/marlincleaning.png",
    skills: [
      {
        skill: "Astro",
      },
      {
        skill: "React",
      },
      {
        skill: "TypeScript",
      },
      {
        skill: "Tailwind CSS",
      },
    ],
    role: "Developer (Author)",
    description:
      "A clean, fast, SEO-optimised website built with Astro, React, and Tailwind for Marlin Cleaning Supplies, based off of the Marlin Brokers website.",
  },
  {
    title: "Atomwave Component Library",
    company: "Personal",
    imageSrc: "/images/project_thumbnails/atomwave.png",
    skills: [
      {
        skill: "React",
      },
      {
        skill: "TypeScript",
      },
      {
        skill: "CSS Modules",
      },
    ],
    role: "Developer (Author)",
    description:
      "A rewrite of shadcn/ui without a Tailwind dependency, offering additional components, greater flexibility, and built-in support for multiple themes.",
    isWip: true,
  },
];

const confidentialProjects: ProjectCardProps[] = [
  {
    title: "Internal Platform",
    company: "Bitcube",
    imageSrc: "/images/project_thumbnails/project_ccp.png",
    skills: [
      {
        skill: "Next.js",
      },
      {
        skill: "React",
      },
      {
        skill: "TypeScript",
      },
      {
        skill: "Tailwind CSS",
      },
      {
        skill: "OpenAPI",
      },
      {
        skill: ".NET",
      },
      {
        skill: "Asana API",
      },
      {
        skill: "GitHub API",
      },
      {
        skill: "Hubstaff API",
      },
    ],
    role: "Developer",
    description:
      "Internal employee management platform with centralised integration for GitHub, Asana, and Hubstaff.",
    isNda: true,
  },
  {
    title: "Quotation Generator",
    company: "Bitcube",
    imageSrc: "/images/project_thumbnails/project_greenpower.png",
    skills: [
      {
        skill: "Next.js",
      },
      {
        skill: "React",
      },
      {
        skill: "Tailwind CSS",
      },
      {
        skill: "Zoho",
      },
    ],
    role: "Developer",
    description:
      "Quotation builder for a UK-based renewable energy client, integrated with Zoho CRM.",
    isNda: true,
  },
  {
    title: "Prismic Site",
    company: "Bitcube",
    imageSrc: "/images/project_thumbnails/project_floatyboat.png",
    skills: [
      {
        skill: "Prismic",
      },
      {
        skill: "Next.js",
      },
      {
        skill: "React",
      },
      {
        skill: "TypeScript",
      },
      {
        skill: "Tailwind CSS",
      },
    ],
    role: "Developer",
    description: "Prismic site for a maritime logistics client.",
    isNda: true,
  },
  {
    title: "Contemporary Fashion Storefront",
    company: "Bitcube",
    imageSrc: "/images/project_thumbnails/project_kicks.png",
    skills: [
      {
        skill: "Shopify",
      },
      {
        skill: "Shopify Liquid",
      },
      {
        skill: "CSS",
      },
    ],
    role: "Developer",
    description: "UK-based contemporary shoe brand.",
    isNda: true,
  },
  {
    title: "Bespoke Storefront",
    company: "Bitcube",
    imageSrc: "/images/project_thumbnails/project_agentsauce.png",
    skills: [
      {
        skill: "Shopify",
      },
      {
        skill: "Shopify Liquid",
      },
      {
        skill: "TypeScript",
      },
      {
        skill: "CSS",
      },
      {
        skill: "Sass",
      },
    ],
    role: "Developer",
    description: "UK-based luxury fashion brand.",
    isNda: true,
  },
  {
    title: "Bespoke Storefront",
    company: "Bitcube",
    imageSrc: "/images/project_thumbnails/project_boomjacket.png",
    skills: [
      {
        skill: "Shopify",
      },
      {
        skill: "Shopify Liquid",
      },
      {
        skill: "TypeScript",
      },
      {
        skill: "CSS",
      },
      {
        skill: "Sass",
      },
    ],
    role: "Developer",
    description: "UK-based luxury fashion and firearms brand.",
    isNda: true,
  },
  {
    title: "Wellness Brand Storefront",
    company: "Bitcube",
    imageSrc: "/images/project_thumbnails/project_waxleprechaun.png",
    skills: [
      {
        skill: "Shopify",
      },
      {
        skill: "Shopify Liquid",
      },
      {
        skill: "CSS",
      },
    ],
    role: "Developer",
    description: "US-based wellness brand.",
    isNda: true,
  },
  {
    title: "Lifestyle & Gifting Storefront",
    company: "Bitcube",
    imageSrc: "/images/project_thumbnails/project_handyware.png",
    skills: [
      {
        skill: "Shopify",
      },
      {
        skill: "Shopify Liquid",
      },
      {
        skill: "CSS",
      },
    ],
    role: "Developer",
    description: "US-based premium gift and multi-tool brand for men.",
    isNda: true,
  },
  {
    title: "Arts-And-Crafts Storefront",
    company: "Bitcube",
    imageSrc: "/images/project_thumbnails/project_inkydoing.png",
    skills: [
      {
        skill: "Shopify",
      },
      {
        skill: "Shopify Liquid",
      },
      {
        skill: "CSS",
      },
    ],
    role: "Developer",
    description: "US-based Arts-And-Crafts brand.",
    isNda: true,
  },

  {
    title: "Headless Shopify Storefront",
    company: "Bitcube",
    imageSrc: "/images/project_thumbnails/project_aristro.png",
    skills: [
      {
        skill: "Shopify",
      },
      {
        skill: "Shopify Hydrogen",
        className: "bg-[#1c1767]! text-[#fff]!",
      },
      {
        skill: "Preact",
      },
      {
        skill: "Tailwind CSS",
      },
    ],
    role: "Developer",
    description: "EU-based luxury fashion brand.",
    isNda: true,
  },
];

const archivedProjects: ProjectCardProps[] = [
  {
    title: "Atomwave Brand Guide",
    company: "Personal",
    imageSrc: "/images/project_thumbnails/atomwave_brand_guide.png",
    skills: [
      {
        skill: "HTML",
      },
      {
        skill: "CSS",
      },
      {
        skill: "JavaScript",
      },
    ],
    role: "Developer (Author)",
    description:
      "A brand guide for the Atomwave design system and component library with copy-to-clipboard functionality. Built with vanilla JavaScript, HTML, and CSS.",
    isArchived: true,
  },
];
---

<Layout
  hideDownloadButton
  hidePrintButton
  hideProjectsButton
  showBackToCvButton
  client:load
>
  <main data-slot="projects" class="p-4 md:p-6 lg:p-8">
    <div>
      <h1
        class="text-xl md:text-2xl lg:text-3xl font-bold dark:text-primary text-center md:text-left"
      >
        Public Projects
      </h1>
      <Separator className="mt-4" />
      <ProjectsList projects={publicProjects} client:load />
    </div>
    <div>
      <h2
        class="text-xl md:text-2xl lg:text-3xl font-bold dark:text-primary text-center md:text-left"
      >
        Confidential Projects
      </h2>
      <Separator className="mt-4" />
      <ProjectsList projects={confidentialProjects} client:load />
    </div>
    <div>
      <h2
        class="text-xl md:text-2xl lg:text-3xl font-bold dark:text-primary text-center md:text-left"
      >
        Archived Projects
      </h2>
      <Separator className="mt-4" />
      <ProjectsList projects={archivedProjects} client:load />
    </div>
  </main>
</Layout>
