---
import '../styles/global.css'
---

<!doctype html>
<html lang="en" class="dark antialiased">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Luke De Kiewit CV</title>
    <meta
      name="description"
      content="My interactive CV web page - built with Astro, React, TypeScript, Tailwind CSS and shadcn/ui."
    />
    <meta name="lang" content="en" />
    <meta name="author" content="Luke De Kiewit" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="googlebot" content="noindex, nofollow" />
    <meta name="bingbot" content="noindex" />
    <link rel="canonical" href="https://example.com/" />
    <link rel="icon" href="/images/favicon.ico" />
  </head>
  <body>
    <slot />
  </body>
</html>
